:root {
  --rosa-katie: #000000;
  --amarelo-katie: #fdd54f;
  --cinza-katie: #1f1f24;
  --rosa-claro: #aaaaaab0;
  --branco:  #ffffff;
  --blue: #078b2fa2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial, sans-serif;
  color: #ffffff;
}
